<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleName</key><string>Web Coding Remote</string>
  <key>CFBundleDisplayName</key><string>Web Coding</string>
  <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>CFBundleShortVersionString</key><string>0.1.0</string>
  <key>NSBonjourServices</key><array><string>_webcoding._tcp</string></array>
  <key>NSLocalNetworkUsageDescription</key><string>Web Coding 需要在局域网中发现并连接你的 Mac。</string>
</dict></plist>
